<%- include('partials/header') %>


<div class="centered ">
  <div class="   ">
    <div class="homeDiv">

      <i class="fa-solid fa-mask fa-6x maskIcon"></i>
      <h1 class="display-3 mainFont font-weight-bold brown">UNTOLD</h1>
    </div>
    <p class="lead font-weight-normal white">Hard to keep it to yourself, share them anonymously!</p>
    <hr>
    <a class="btn  btn-lg buttonBrown widthsM rounded glassMorph" href="/register" role="button">Register</a>
    <a class="btn  btn-lg buttonBrown widthsM rounded glassMorph" href="/login" role="button">Login</a>

  </div>
</div>

