<%- include('partials/header') %>

<div class=" text-center">
  <div class="container">
    <i class="fa-solid fa-mask fa-3x maskIcon2"></i>
    <h3 class=" mainFont font-weight-bold brown ">UNTOLD</h3>
    <p class="mainFont white">Share your secrets here, Let it all out</p>

    <div class="secretWrapper">
      
      <% [...userWithSecrets].reverse().forEach(function(user){ %>
        <% [...user.secret].reverse().forEach(function(secret){ %>
     
            <p class="secret-text glassMorph"><%= secret %></p>
    
          
          
          <% })  %>
          <% })  %>
        </div>

    <hr>
    

    <a class="btn btn-block btn-lg buttonBrown rounded mb-5 glassMorph" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

